@use '../mixins'
@use '../variables'

header
    @include mixins.flex-center
    justify-content: space-between
    padding: 1rem 8%
    position: fixed
    z-index: 1000
    top: 0
    left: 0
    right: 0
    transition: .8s

    @include mixins.tablet
        padding: 1rem 4%

    &.header-active
        background-color: variables.$white-option
        box-shadow: variables.$box-shadow

    .logo
        font-size: 2.2rem
        font-weight: bold
        
        svg
            color: variables.$primary-color

    .header-nav
        @include mixins.flex-center

        .navbar
            
            @include mixins.flex-center

            @include mixins.tablet
                display: none

            a
                @include mixins.navitem
                
                &:hover
                    color: variables.$primary-color
        
        .navbaricons
            
            @include mixins.flex-center
            
            a
                @include mixins.navitem
                padding-top: 4px

                &:hover
                    color: variables.$primary-color
