@use 'variables'

@mixin flex-center
    display: flex
    align-items: center
    justify-content: center

@mixin navitem
    margin: 0 1rem
    font-size: 1.2rem
    font-weight: bolder
    text-transform: uppercase

@mixin button-1
    border: 1px solid black
    padding: .6rem 1rem

    &:hover
        color: variables.$white-option
        background-color: variables.$secondary-color 

@mixin tablet
    @media(min-width: 426px) and (max-width: 875px)
        @content

@mixin mobile
    @media(max-width: 426px)
        @content

@mixin bigscreen
    @media(min-width: 1448px)
        @content